---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - aptos.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aptos.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - bitcoin.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - bitcoin.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - chainlink.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - chainlink.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - persistentvolumeclaims
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - persistentvolumeclaims
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ethereum.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ethereum.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ethereum2.kotal.io
  resources:
  - beaconnodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ethereum2.kotal.io
  resources:
  - beaconnodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ethereum2.kotal.io
  resources:
  - validators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ethereum2.kotal.io
  resources:
  - validators/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - filecoin.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - filecoin.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - graph.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - graph.kotal.io
  resources:
  - nodes/finalizers
  verbs:
  - update
- apiGroups:
  - graph.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ipfs.kotal.io
  resources:
  - clusterpeers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipfs.kotal.io
  resources:
  - clusterpeers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ipfs.kotal.io
  resources:
  - peers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipfs.kotal.io
  resources:
  - peers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - near.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - near.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - polkadot.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - polkadot.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - stacks.kotal.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stacks.kotal.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
