apiVersion: ethereum2.kotal.io/v1alpha1
kind: BeaconNode
metadata:
  name: nimbus-beacon-node
spec:
  network: pyrmont
  client: nimbus
  logging: info
  rpc: true
  rpcPort: 8888
  eth1Endpoints:
    - http://localhost:8545
  resources:
    # these resources are only for testing
    # change resources depending on your use case
    cpu: "1"
    memory: "1Gi"
