---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: nodes.aptos.kotal.io
spec:
  group: aptos.kotal.io
  names:
    kind: Node
    listKind: NodeList
    plural: nodes
    singular: node
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Node is the Schema for the nodes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NodeSpec defines the desired state of Node
            properties:
              api:
                description: API enables REST API server
                type: boolean
              apiPort:
                description: APIPort is api server port
                type: integer
              genesisConfigmapName:
                description: GenesisConfigmapName is Kubernetes configmap name holding
                  genesis blob
                type: string
              image:
                description: Image is Aptos node client image
                type: string
              network:
                description: Network is Aptos network to join and sync
                enum:
                - devnet
                - testnet
                type: string
              nodePrivateKeySecretName:
                description: NodePrivateKeySecretName is the secret name holding node
                  private key
                type: string
              p2pPort:
                description: P2PPort is p2p communications port
                type: integer
              peerId:
                description: PeerId is the node identity
                type: string
              resources:
                description: Resources is node compute and storage resources
                properties:
                  cpu:
                    description: CPU is cpu cores the node requires
                    pattern: ^[1-9][0-9]*m?$
                    type: string
                  cpuLimit:
                    description: CPULimit is cpu cores the node is limited to
                    pattern: ^[1-9][0-9]*m?$
                    type: string
                  memory:
                    description: Memory is memmory requirements
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  memoryLimit:
                    description: MemoryLimit is cpu cores the node is limited to
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  storage:
                    description: Storage is disk space storage requirements
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  storageClass:
                    description: StorageClass is the volume storage class
                    type: string
                type: object
              seedPeers:
                description: SeedPeers is seed peers
                items:
                  description: Peer is Aptos network peer
                  properties:
                    addresses:
                      description: Addresses is array of peer multiaddress
                      items:
                        type: string
                      minItems: 1
                      type: array
                      x-kubernetes-list-type: set
                    id:
                      description: ID is peer identifier
                      type: string
                  required:
                  - addresses
                  - id
                  type: object
                type: array
              validator:
                description: Validator enables validator mode
                type: boolean
              waypoint:
                description: Waypoint provides an off-chain mechanism to verify the
                  sync process after restart or epoch change
                type: string
            required:
            - genesisConfigmapName
            - network
            - waypoint
            type: object
          status:
            description: NodeStatus defines the observed state of Node
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
