
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: beaconnodes.ethereum2.kotal.io
spec:
  group: ethereum2.kotal.io
  names:
    kind: BeaconNode
    listKind: BeaconNodeList
    plural: beaconnodes
    singular: beaconnode
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.client
      name: Client
      type: string
    - jsonPath: .spec.join
      name: Join
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BeaconNode is the Schema for the beaconnodes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BeaconNodeSpec defines the desired state of BeaconNode
            properties:
              client:
                description: Client is the Ethereum 2.0 client to use
                enum:
                - teku
                - prysm
                - lighthouse
                - nimbus
                type: string
              eth1Endpoints:
                description: Eth1Endpoints is Ethereum 1 endpoints
                items:
                  type: string
                type: array
              grpc:
                description: GRPC enables GRPC gateway server
                type: boolean
              grpcHost:
                description: GRPCHost is GRPC gateway server host
                type: string
              grpcPort:
                description: GRPCPort is GRPC gateway server port
                type: integer
              network:
                description: Network is the network to join
                type: string
              p2pPort:
                description: P2PPort is p2p and discovery port
                type: integer
              resources:
                description: Resources is node compute and storage resources
                properties:
                  cpu:
                    description: CPU is cpu cores the node requires
                    pattern: ^[1-9][0-9]*m?$
                    type: string
                  cpuLimit:
                    description: CPULimit is cpu cores the node is limited to
                    pattern: ^[1-9][0-9]*m?$
                    type: string
                  memory:
                    description: Memory is memmory requirements
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  memoryLimit:
                    description: MemoryLimit is cpu cores the node is limited to
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  storage:
                    description: Storage is disk space storage requirements
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  storageClass:
                    description: StorageClass is the volume storage class
                    type: string
                type: object
              rest:
                description: REST enables Beacon REST API
                type: boolean
              restHost:
                description: RESTHost is Beacon REST API server host
                type: string
              restPort:
                description: RESTPort is Beacon REST API server port
                type: integer
              rpc:
                description: RPC enables RPC server
                type: boolean
              rpcHost:
                description: RPCHost is host on which RPC server should listen
                type: string
              rpcPort:
                description: RPCPort is RPC server port
                type: integer
            required:
            - client
            - network
            type: object
          status:
            description: BeaconNodeStatus defines the observed state of BeaconNode
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
