---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: nodes.polkadot.kotal.io
spec:
  group: polkadot.kotal.io
  names:
    kind: Node
    listKind: NodeList
    plural: nodes
    singular: node
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.network
      name: Network
      type: string
    - jsonPath: .spec.validator
      name: Validator
      type: boolean
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Node is the Schema for the nodes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NodeSpec defines the desired state of Node
            properties:
              corsDomains:
                description: CORSDomains is browser origins allowed to access the
                  JSON-RPC HTTP and WS servers
                items:
                  type: string
                type: array
                x-kubernetes-list-type: set
              image:
                description: Image is Polkadot node client image
                type: string
              logging:
                description: Logging is logging verboisty level
                enum:
                - error
                - warn
                - info
                - debug
                - trace
                type: string
              network:
                description: Network is the polkadot network/chain to join
                type: string
              nodePrivateKeySecretName:
                description: NodePrivateKeySecretName is the secret name holding node
                  Ed25519 private key
                type: string
              p2pPort:
                description: P2PPort is p2p protocol tcp port
                type: integer
              prometheus:
                description: Prometheus exposes a prometheus exporter endpoint.
                type: boolean
              prometheusPort:
                description: PrometheusPort is prometheus exporter port
                type: integer
              pruning:
                description: Pruning keeps recent or all blocks
                type: boolean
              resources:
                description: Resources is node compute and storage resources
                properties:
                  cpu:
                    description: CPU is cpu cores the node requires
                    pattern: ^[1-9][0-9]*m?$
                    type: string
                  cpuLimit:
                    description: CPULimit is cpu cores the node is limited to
                    pattern: ^[1-9][0-9]*m?$
                    type: string
                  memory:
                    description: Memory is memmory requirements
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  memoryLimit:
                    description: MemoryLimit is cpu cores the node is limited to
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  storage:
                    description: Storage is disk space storage requirements
                    pattern: ^[1-9][0-9]*[KMGTPE]i$
                    type: string
                  storageClass:
                    description: StorageClass is the volume storage class
                    type: string
                type: object
              retainedBlocks:
                description: RetainedBlocks is the number of blocks to keep state
                  for
                type: integer
              rpc:
                description: RPC enables JSON-RPC server
                type: boolean
              rpcPort:
                description: RPCPort is JSON-RPC server port
                type: integer
              syncMode:
                description: SyncMode is the blockchain synchronization mode
                enum:
                - fast
                - full
                type: string
              telemetry:
                description: Telemetry enables connecting to telemetry server
                type: boolean
              telemetryURL:
                description: TelemetryURL is telemetry service URL
                type: string
              validator:
                description: Validator enables validator mode
                type: boolean
              ws:
                description: WS enables Websocket server
                type: boolean
              wsPort:
                description: WSPort is Websocket server port
                type: integer
            required:
            - network
            type: object
          status:
            description: NodeStatus defines the observed state of Node
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
